
body {
    font-family: Roboto, Arial, sans-serif;
    background-color: #FFFFFF ;
    color: #595959 ;
    padding: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #595959 ;
    line-height: 200%;
}

#container  {
    margin: auto;
    overflow: hidden;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

header  {
    padding: 30px 50px 0px 30px;
    min-height: 70px;
    color: #595959 ;
}

header a, a:visited, a:link, a:active{
    text-decoration: none; 
    color: #595959;
}

header a:active{
    text-decoration: none; 
    color: #ffc300;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
    padding: 0 10px 0 10px; 
}

header a:hover, a.selected{
    color: #ffc300;
}

header #logo{
    float: left;
}

header #logo img{
    float: left;
    width: 50px;
    height: 50px;
}

header #logo h1{
    float: right;
    margin: 0 0 10px;
    font-size: 24px;
    color: black;
}

header nav{
    float: right;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5%
}

#showcase{
    background: url(../imagenes/logo-blanco.png) no-repeat right;
    background-position-x: 80%;
    background-size: 18%;
    margin-bottom: 100px;
}

#showcase .slide_img{
    z-index: -1000;
}

#main-info{
    text-align: center;
}

#main-info h2 {
    overflow: hidden;
    text-align: center;
    margin: 0 0 30px 0;
}

#main-info h2:before,
#main-info h2:after {
    background-color: #ffc300;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 5%;
}
#main-info h2:before {
    right: 1em;
    margin-left: -50%;
}
#main-info h2:after {
    left: 1em;
    margin-right: -50%;
}

#main-info p{
    text-align: center;
    width: 70%;
    margin-left:auto;
    margin-right:auto;}

#bottom-info{
    background-color: #ffc300;
    margin-top: 200px;
}

#bottom-info .box{
    text-align: center;
    float: left;
    margin-left: 10%; 
    width: 20%;
    padding: 10px;
}

#home-quote{
    margin: 0;
    min-height: 400px;
    background: url('../imagenes/bannerabout.jpg') center 250px;
    text-align: center;
}

#home-quote h3{
    margin-top: 10%; 
    font-size: 150%;
}

#home-quote p{
    font-style: italic; 
    margin-left:55%;
}

#home-aliados{
    text-align: center;
}

#home-aliados h3 {
    overflow: hidden;
    text-align: center;
    margin: 80px 0 0 0;
}

#home-aliados h3:before,
#home-aliados h3:after {
    background-color: #ffc300;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 5%;
}

#home-aliados h3:before {
    right: 1em;
    margin-left: -50%;
}

#home-aliados h3:after {
    left: 1em;
    margin-right: -50%;
}

#i1, #i2, #i3{ display: none;}

.slider-holder{
    margin: 0 auto;
    position: relative;
    height: 0;
    padding-bottom: 40%;
}

.slider-holder .slide_img{
    position: absolute;
    width: 100%;;
    height: 100%;
}
.slider-holder .slide_img img{
    width: inherit;
    height: inherit;
}

.slider-holder #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #FFFFFF;
    transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffc300;
	transition: .25s
}

.slide_img{z-index: -1;}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three
{z-index: -1; animation: scroll 1s ease-in-out;}

#i1:checked  ~  #nav_slide #dot1,
#i2:checked  ~  #nav_slide #dot2,
#i3:checked  ~  #nav_slide #dot3
{ background-color: #ffc300;}

#part1, #part2, #part3 {display: none;}

.slider-icon{
    width: 63%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.icon-img{
    position: relative;
    width: 2632px;
    height: 200px; 
}


label span{
    position: absolute;
    font-size: 100pt;
    top: 50%;
    transform: translateY(-50%);
}

.slider-button{
    width: 100%;
}

.prev, .next{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF; 
    border: solid;
    padding: 5px 10px;
    border-color: #FFFFFF;
    background: #595959;
}

.prev:hover, .next:hover{
    transition: .3s;
    color: #ffc300; 
}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		

#email-subscribe{
    text-align: center;
    margin: 100px 0 0 0;
    padding: 15px;
    color: #000000;
    background: #ffc300;
    overflow: hidden;
}

#email-subscribe #container{
    margin: auto;
}

#email-subscribe h2{
    float: left;
    width: 20%;
}

#email-subscribe svg{
    float: left;
    width: 2%;
    padding: 0 0;
    margin-top: 20px; 
    margin-left: 25%;
}

#email-subscribe{
    padding: 40px;
}

#email-subscribe form{
    margin-top: 35px;
    margin-right: 20%;
}

#email-subscribe input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#email-subscribe input {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px 0px 0px 15px;
    height: 20px;
    box-sizing: content-box;
}

#email-subscribe button {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    height: 34px;
    border-radius: 0px 15px 15px 0px;
    margin-left: -4px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 15px;
}

#email-subscribe button:hover {
    background-color: #ffc300;
    border: 1px solid #ffffff;
    box-shadow: 0 0 15px #ffffff;
}

#social-contact{
    margin-top: 5%;
    text-align: center;
}

#social-contact svg{
    width: 1.5%;
    padding: 15px 15px;
}

#social-icon{
    color: #ffc300;
}

footer{
    font-family: Roboto, Arial, sans-serif;
    margin-top: 6%;
    text-align: center;
    font-size: 0.7em;
}

footer span{
    color: #ffc300;
}

#about-main{
    text-align: center;
    min-height: 400px;
    background: url(../imagenes/bannerabout.jpg) 0px -200px;
    background-color: #ffffff; 
}

#about-main h1{
    color: #000000;
    margin-top: 10%;
    font-size: 40px;
}

#about-main h3{
    color: #000000;
}

#about-main h3 span{
    color: #ffc300;
    padding: 15px;
}

#about-col h1{
    font-size: 24px;
    margin: 10px;
}

#about-col h2{
    font-size: 20px;
    margin: 0;
}

#about-col p{
    color: #595959;
}

article {
    margin-top: 100px;
    -webkit-columns: 2 100px;
    -moz-columns: 2 100px;
    columns: 2 100px;
    -webkit-column-gap: 8em;
    -moz-column-gap: 8em;
    column-gap: 8em;
}

#about-subcol{
    -webkit-columns: 2 100px;
    -moz-columns: 2 100px;
    columns: 2 100px;
    -webkit-column-gap: 8em;
    -moz-column-gap: 8em;
    column-gap: 8em;
}

#contact-main{
    text-align: center;
    min-height: 400px;
    background: url(../imagenes/bannercontacto.jpg) 0 -200px;
    background-color: #ffffff; 
}

#contact-main h1{
    color: #000000;
    margin-top: 10%;
    font-size: 40px;
}

#contact-main h3{
    color: #000000;
}

#contact-main h3 span{
    color: #ffc300;
    padding: 15px;
}

#contact-info{
    color: #000000;
    margin-left: 10%;
    margin-top: 100px; 
}

.contact-col{
    float: left;
    width: 25%;
}

.contact-col:after {
    content: "";
    display: table;
    clear: both;
}

.contact-col img{
    width: 25%;
    margin-left: 10%;
}

#social-text{
    color: #ffc300;
    margin-left: 0;
}

#contact-form input[type=text], input[type=date], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  
#contact-form input[type=submit] {
    background-color: #ffc300;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width: 200px;
    margin-left: 40%;
    margin-top: 20px;
}
  
#contact-form input[type=submit]:hover {
    background-color: #595959;
}
  
#contact-form .wrap-form {
    margin: 5% auto;
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: #595959;
}

#contact-form label{
    font-weight: bold;
}

.halfleft-textbox{
    float: left;
    width: 48%;
}

.halfright-textbox{
    float: right;
    width: 49%;
}

#contact-info svg{
    float: left;
    width: 4%;
    padding: 15px 15px;
}

#boletos-main{
    text-align: center;
    min-height: 400px;
    background: url(../imagenes/bannercboleto.jpg) 0 -200px;
    background-color: #ffffff; 
    margin-bottom: 100px;
}

#boletos-main h1{
    color: #000000;
    margin-top: 10%;
    font-size: 40px;
}

#boletos-main h3{
    color: #000000;
}

#boletos-main h3 span{
    color: #ffc300;
    padding: 15px;
}

#list-item #container{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.item-col{
    margin-top: 50px;
    margin-right: 15px;
    float: left;
    text-align: center;
}

.item-col img{
    width: 270px;
    height: 300px;
}

.item-col:after {
    content: "";
    display: table;
    clear: both;
}

#iniciar-main{
    text-align: center;
    min-height: 400px;
    background: url(../imagenes/bannerlogin.jpg) 0 -200px;
    background-color: #ffffff; 
}

#iniciar-main h1{
    color: #000000;
    margin-top: 10%;
    font-size: 40px;
}

#iniciar-main h3{
    color: #000000;
}

#iniciar-main h3 span{
    color: #ffc300;
    padding: 15px;
}

#login-form input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  
#login-form input[type=submit] {
    background-color: #ffc300;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width: 100px;
    margin-left: 43%;
    margin-top: 20px;
}
  
#login-form input[type=submit]:hover {
    background-color: #595959;
}
  
#login-form .wrap-form {
    margin: 5% 24%;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: #595959;
}

#login-form label{
    font-weight: bold;
}

.username{
    float: left;
    width: 48%;
}

.password{
    float: right;
    width: 49%;
}

#login-form a{
    margin-top: 20px;
    text-align: center;
    color: #ffc300;
}

#registrate-main{
    text-align: center;
    min-height: 400px;
    background: url(../imagenes/bannerregistro.jpg) 0px -200px;
    background-color: #ffffff; 
}

#registrate-main h1{
    color: #000000;
    margin-top: 10%;
    font-size: 40px;
}

#registrate-main h3{
    color: #000000;
}

#registrate-main h3 span{
    color: #ffc300;
    padding: 15px;
}

#registrate-type input[type=submit] {
    background-color: #ffc300;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 25px;
}

#registrate-type .wrap-form {
    text-align: center;
    margin: 5% 14%;
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: #595959;
}
  
#registrate-type input[type=submit]:hover {
    background-color: #595959;
}

.lean-btn{
    background-color: #ffc300;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width: 220px;
}


.lean-btn:hover {
    background-color: #595959;
}

.close {
    color: #595959;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #ffc300;
    text-decoration: none;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #ffc300;
    text-decoration: none;
    cursor: pointer;
}

#registrate-form input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  
#registrate-form input[type=submit] {
    background-color: #ffc300;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width: 150px;
    margin: auto;
}
  
#registrate-form input[type=submit]:hover {
    background-color: #595959;
}

#registrate-form {
    display: none; 
    position: fixed;
    padding-top: 0px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: #FFFFFF; 
    background-color: rgba(0,0,0,0.4); 
  }
  
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0 10px;
    border: 1px solid #888;
    width: 34%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

#registrate-form label{
    font-weight: bold;
}

.modal-header {
    padding: auto;
    background-color: white;
    border-bottom: solid 0.5px;
    border-color : rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
  
.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: auto;
    margin-top: 20px;
    border-top: solid 0.5px;
    border-color : rgba(0,0,0,0.3);
}

#clear-form, .close-btn{
    position: relative;
    background-color: darkgray;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width: 100px;
    margin-top: 20px;  
}

#clear-form:hover, .close-btn:hover {
    background-color: #595959;
}

#business-notification{
    text-align: center;
}
 
.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 39px;
    padding: 5px;
    width: 270px;
    border: 1px solid #ccc;
}

 .semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 }

 #registrate-form .zip-code {
    width: 35%;
    float: right;
}

#estado-container{
    float: left;
}

#business-type{
    display: none;
    width: 100%;
    margin-bottom: 20px;
}

#business-type .tipo-options{
    position: relative;
    margin: 0 ;
    font-size: 12px;
    width: 33%;
    float: left;
}

#list-event .container{
    text-align: center;
}

#list-event table{
    width: 80%;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5%; 
    border-collapse: collapse;
    border-spacing: 0;
}

#first-col{
    margin: 0;
    text-align: left;
    width: 60%;
}

td img{
    vertical-align: middle;
    padding: 0 20px 0 0;
}

th{
    background: #f2f2f2;
}

th, td {
    padding: 10px 0px;
    text-align: center;
    font-size: 12px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.yellow-btn{
    background-color: #ffc300;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.yellow-btn:hover {
    background-color: #595959;
}

.red-btn{
    background-color: rgb(179, 43, 43);
    color: white;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.red-btn:hover {
    background-color: #595959;
}

.red-btn svg{
    width: 25%;
}

.mod-btn{
    background-color: #ffc300;
    color: white;
    border: none;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.mod-btn:hover {
    background-color: #595959;
}

.mod-btn svg{
    width: 40%;
}

.top-left {
    position: absolute;
    padding: 5px 20px;
    z-index: 100;
    font-size: 12px;
    margin-left: 5px;
    color: white;
    background: #ffc300;
}
 
#red-p{
    background: #b11414;
}

#item-pic{
    height: 400px;
    width: 400px;
}

#individual-main{
    text-align: center;
    min-height: 400px;
    background: url(../imagenes/bannercontacto.jpg) 0 -200px;
    background-color: #ffffff; 
    margin-bottom: 50px;
}

#individual-main h1{
    color: #000000;
    margin-top: 10%;
    font-size: 40px;
}


#individual-main h3{
    color: #000000;
}

#individual-main h3 span{
    color: #ffc300;
    padding: 15px;
}

.individual-col{
    float: left;
    width: 33%;
}

.individual-col:after {
    content: "";
    display: table;
    clear: both;
}

#individual-info svg{
    float: left;
    width: 3%;
    padding: 5px 10px;
}

#individual-info {
    margin-left: 10%;
    margin-right: auto;
}

#individual-info img{
    width: 50%;
}

.upload-pic{
    width: 40%;
    float: right;
}

.upload-pic img{
    width: 50%;
}

.upload-pic table{
    margin-right: 5%;
}

.upload-pic th, .upload-pic td {    
    border-bottom: none;
}

.same-block{
    width: 100%;
    display: inline-block;
}

#contact-form label{
    display: block;
}

.profile-form{
    width: 25%;
    margin: 0;
}

#middle-form{
    padding: 0 11%;
}

#right-form{
    float: right;
}

.small-note {
    background-color: #ffc300;
    color: white;
    border: none;
    border-radius: 15px 15px 15px 15px;
    margin: auto;
    font-weight: bold;
    height: 20px;
    width: 5%;
    text-align: center;
    display: inline-block;
}

#add-event{
    text-align: right;
    margin-right: 15%;
}

#add-event-btn{
    color: white;
    background: green;
}

#add-event-btn:hover {
    background-color: #595959;
    color: white;
}

.number-paging{
    text-align: center;
    margin-bottom: 20%; 
}
  
.pagination {
display: inline-block;
}
  
.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
transition: background-color .3s;
border: 1px solid #ddd;
margin: 0 4px;
}
  
.pagination a.active {
background-color: #ffc300;
color: white;
border: 1px solid #ffc300;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}

#newevent-main{
    text-align: center;
    min-height: 400px;
    background: url(../imagenes/bannerregistro.jpg) 0 -200px;
    background-color: #ffffff; 
    margin-bottom: 50px;
}

#newevent-main h1{
    color: #000000;
    margin-top: 10%;
    font-size: 40px;
}


#newevent-main h3{
    color: #000000;
}

#newevent-main h3 span{
    color: #ffc300;
    padding: 15px;
}

.number-text{
    width: 40%;
    text-align: center;
}

.group-button{
    text-align: left;
}

#item-detail{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#item-detail td, #item-detail tr{
    border-bottom: 0;
    height: 50%;
    text-align: left;
}

#item-detail button{
    border-radius: 0 0 0 0;
    width: 140px;
}

#item-detail button span{
    padding: 0 10px 0 0;
}

.star {
    font-size: medium;
    width: 15px;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: #ffc300;
}
.star.half:after {
    content:'\2605';
    color: #ffc300;
    position: absolute;
    margin-left: -13px;
    width: 7px;
    overflow: hidden;
}

.quantity {
    display: inline-block; 
}


.quantity .input-text.qty {
    width: 80px;
    height: 35px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; 
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 35px;
    background-color: darkgray;
    border: 1px solid #efefef;
    cursor:pointer;
}

.quantity.buttons_added .minus {
    border-right: 0; 
}

.quantity.buttons_added .plus {
    border-left: 0; 
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee; 
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none; 
}

  
#detail-bottom{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 56%;
}

#item-description{
    border: solid 1px;
    border-color: rgba(0,0,0,0.1)
}

#item-description p{
    padding: 20px 20px;
}

#detail-bottom button {
    margin-bottom: 30px;
    border-radius: 0 0 0 0;
    padding: 15px 15px;
    background-color: whitesmoke;
    color: #595959;
}

#detail-bottom .chosen{
    width: 220px;
    background: #ffc300;
    position: relative;
}

#detail-bottom .chosen:after{
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ffc300;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

#detail-bottom button:hover{
    background-color: #ffc300;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top: 0px; opacity:1}
}
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top: 0px; opacity:1}
}

@media(max-width: 840px){
    *
    {
        float: none;
        text-align: center;
    }

    header nav li{
        width: 200%;
    }

    header{
        padding-bottom: 20px;
    }

    #main-info h2{
        margin: 40px;
        margin-bottom: 0;
    }

    .contact-col svg{
        display: none;
    }

    #bottom-info{
        margin-top: 50px;
    }

    #bottom-info .box{
        float: none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #home-quote{
        min-height: 150px;
    }

    #home-aliados .slider-icon{
        margin-left: 2%;
        width: 100%
    }

    #social-contact svg{
        width: 10%;
    }

    .contact-col{
        margin: 0;
    }

    .contact-col img{
        text-align: center;
    }

    #contact-form input[type=submit],
    #login-form input[type=submit]{
        margin: 0;
    }

    footer{
        padding: 20px;
    }

    .icon-img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #email-subscribe h2{
        width: 100%;
    }

    #email-subscribe{
        padding: 0;
    }

    #email-subscribe button{
        text-align: center;
        width: 100%;
        border-radius: 0;
        margin-left: 10%;
    }

    #email-subscribe input[type=email]{
        text-align: center;
        width: 95%;
        border-radius: 0;
        margin-bottom: 5px;
        margin-left: 10%;

    }

    button{
        width: 50%;
        border: 50%;
    }

    #email-subscribe svg{
        display: none;
    }

    #detail-bottom {
        width: 100px;
        font-size: 12px;
    }

    #detail-bottom .chosen{
        width: 100px;
        font-size: 12px;
    }
}


